*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Signika', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Bitter', sans-serif;
}
.space{
  margin: 2%;
}
.spacemin{
  margin: 1%;
}
.spacemax{
  margin: 5%;
}
.MainButton {
  background-color: #0029A4;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 25px;
}
.MainButton:hover {
  background-color: #0536ca;
}

/* Main Navigation bar */

nav {
  position: static;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
nav.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav.hidden-nav {
  transform: translateY(-100%);
}

.nav-link, .LogoName, .user-icon {
  font-family: 'Signika', sans-serif;
}
.logoSearchLangUserNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LogoMain{
  display: flex;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}
.LogoMain a{
  text-decoration: none;
}
.LogoMain img{
  width: 70px;
}
.nameLogo{
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}
.navSearchLangUser{
  display: flex;
  margin-right: 2%;
  width: 60%;
  align-items: center;
  justify-content: flex-end;
}
.navlang {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  margin-right: 4%;
  align-items: center;
  justify-content: space-between;
}
.dropdownMenu {
  top: 5%;
  right: 6%;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
}
.dropdownItem:hover {
  background-color: #f1f1f1;
}
.navUser {
  width: 29px;
  height: 30px;
  display: flex;
  font-size: 20px;
  border-radius: 50%;
  align-items: flex-end;
  justify-content: center;
  border: solid 2px #000;
}
.Links{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
.Links a{
  margin: 0 50px;
}
.Links a:hover{
  color: #0029A4;
  text-decoration: 5px underline;
}

/* SearchBox.css */
.searchBox {
  background: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative; /* Add relative positioning for the underline */
}

.searchBox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width 0.4s; /* Animate the underline */
}

.searchBox:hover::after {
  width: calc(100% - 20px); /* Extend the underline, accounting for padding */
}

.searchButton {
  color: #000;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: none; /* Remove the border */
  outline: none; /* Remove the default outline */
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: #fff; /* Default text color when collapsed */
  font-size: 16px;
  transition: width 0.4s; /* Animate width */
  line-height: 40px;
  width: 0px;
  padding-left: 10px; /* Ensure padding for text */
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
  color: #000; 
}



/* side bar */

.sideBarNav {
  top: 0;
  width: 50%;
  right: -100%;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position to stay in place */
  background-color: #fff;
  color: #000;
  height: 100%;
  transition: right 0.5s ease; /* Smooth slide-in effect */
  z-index: 100; /* Ensure it's above other content */
  flex-direction: column;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}
.sideBarNav.visible {
  right: 0;
  display: flex;
}
.sideBartoggleButton.fixed-nav {
  position: fixed;
}
.sideBartoggleButton.hidden-nav {
  transform: translateY(-100%); /* Move button out of view */
}
.sideBarSearch {
  flex: 0 1 auto; /* Allow it to grow */
  margin:15% 0% 5% 0%;
}
.SideBarLinks {
  flex: 1 1 auto; /* Allow it to grow and take remaining space */
  overflow-y: auto; /* Allow scrolling if content overflows */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20%;
}
.SideBarLangUser {
  flex: 0 1 auto; /* Allow it to grow */
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.SideBarLinks .divider {
  display: none;
}
.sideBartoggleButton {
  position: fixed;
  top: 10px; /* Adjust position as needed */
  right: 30px; /* Adjust position as needed */
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;  /* Ensure it's above the sidebar */
}

/* Section Who are we */
.rounded-bottom-custom{
  border-radius: 0px 0px 200px 0px;
}
.WhoAreWeHeader {
  font-size: 2rem;
  font-weight: bold;
}


/* Section Industries */
.IndustriesBox {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
  width: 500px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

.IndustriesBox img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust as needed */
  border-radius: 25px; /* Same as .IndustriesBox for rounded corners */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Set to 1 to make the overlay always visible */
  transition: opacity 0.3s ease;
  border-radius: 25px; /* Rounded corners */
}

.IndustriesText {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}


/* Section Success Stories */
.CompaniesStoriesContainer{
  background-color: #f1f1f1;
  border-radius: 200px 0px 0px 0px;
  padding: 5%;
  overflow: hidden;
}
.StoriresCardContainer{
  border-radius: 25px;
  height: 500px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000; 
  filter: none;
}
.carousel-control-next {
  justify-content: flex-end !important;
}
.carousel-control-prev {
  justify-content: flex-start !important;
}

/* section Partners & Featured */
.collaborators-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.logo {
  width: 100px;
  height: auto; /* Ensures logos maintain aspect ratio */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 10px; /* Adds rounded corners to logos */
  padding: 10px; /* Adds padding around the logos */
  background-color: white; /* Background color for padding */
}

.logo:hover {
  transform: scale(1.5) rotate(360deg);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0; /* Slight background color change on hover */
  border: 2px solid #ddd; /* Border on hover */
}

/* footer */
.footer {
  background-color: #163696;
  color: #fff;
  padding: 2% 0;
}
.footerLogo {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}
.footerLogo .nameLogo{
  color: #fff;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.footerDivider {
  border-left: solid 1px #fff;
  height: 100%;
  margin: 0 1rem;
}
.footerSection {
  flex: 1;
  padding: 0 1rem;
}
.footerSection .divider{
  display: none;
}
.footerSection:nth-child(2) {
  flex: 2;
}
.form-control{
  width: 60% !important;
}
.SubscribeButton{
  width: 25%;
}
.footerHeaderSection {
  border-bottom: solid 2px #fff;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 5rem;
}
.subscribeSection {
  text-align: center;
}
.footerLinks a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 0.5rem;
}
.footerLinks {
  margin-bottom: 1rem;
}
.footerSocialMediaIcons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.footerSocialMediaIcons a {
  cursor: pointer;
  color: #163696;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

/* Copy Right */
.CopyRight{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}


/* responsive */
@media screen and (min-width:961px){
  .sideBartoggleButton{display: none;}
}

@media screen and (max-width: 960px) {
  .navSearchLangUser { display: none; }
  .Links { display: none; }
  .sideBarNav {
    display: flex; /* Make it visible */
    font-size: 25px;
    width: 100%; /* Adjusted for better visibility */
  }
  .searchBox:hover > .searchInput{
    width: 89%;
  }
  .dropdownMenu{
    top: 82%;
    right: 60%;
  }
  .searchBox:hover::after {
    width: calc(100% - 50px); /* Extend the underline, accounting for padding */
  }
  .footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerLinks{
    text-align: center;
  }
  .footerSection{
    margin-bottom: 5rem;
  }
  .footerHeaderSection{
    margin-bottom: 3rem;
  }
}

@media screen and (max-width:580px){
  .CompaniesStoriesContainer{
    padding: 13% 0%;
  }
  .searchBox:hover > .searchInput{
    width: 88%;
  }
  .searchBox:hover::after {
    width: calc(100% - 20px); /* Extend the underline, accounting for padding */
  }
}