*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Signika', sans-serif;
  height: 10000px;
}
.space{
  margin: 1%;
}

/* Main Navigation bar */

nav {
  position: static;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
nav.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav.hidden-nav {
  transform: translateY(-100%);
}

.nav-link, .LogoName, .user-icon {
  font-family: 'Signika', sans-serif;
}
.logoSearchLangUserNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLogo{
  display: flex;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}
.navLogo a{
  text-decoration: none;
}
.navLogo img{
  width: 70px;
}
.nameLogo{
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}
.navSearchLangUser{
  display: flex;
  margin-right: 2%;
  width: 60%;
  align-items: center;
  justify-content: flex-end;
}
.navlang {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  margin-right: 4%;
  align-items: center;
  justify-content: space-between;
}
.dropdownMenu {
  top: 5%;
  right: 6%;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
}
.dropdownItem:hover {
  background-color: #f1f1f1;
}
.navUser {
  width: 29px;
  height: 30px;
  display: flex;
  font-size: 20px;
  border-radius: 50%;
  align-items: flex-end;
  justify-content: center;
  border: solid 2px #000;
}
.Links{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
.Links a{
  margin: 0 50px;
}
.Links a:hover{
  color: #0029A4;
  text-decoration: 5px underline;
}

/* SearchBox.css */
.searchBox {
  background: #fff;
  border-radius: 40px;
  margin-right: 5%;
}
.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
  color: #000; 
}
.searchBox:hover > .searchButton {
  background: #000;
  color: #fff;
}
.searchButton {
  color: #000;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff; /* Default text color when collapsed */
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

/* side bar */

.sideBarNav {
  top: 0;
  width: 50%;
  right: -100%;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position to stay in place */
  background-color: #fff;
  color: #000;
  height: 100%;
  transition: right 0.5s ease; /* Smooth slide-in effect */
  z-index: 100; /* Ensure it's above other content */
  flex-direction: column;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}
.sideBarNav.visible {
  right: 0;
  display: flex;
}
.sideBartoggleButton.fixed-nav {
  position: fixed;
}
.sideBartoggleButton.hidden-nav {
  transform: translateY(-100%); /* Move button out of view */
}
.sideBarSearch {
  flex: 0 1 auto; /* Allow it to grow */
  margin:15% 0% 5% 0%;
}
.SideBarLinks {
  flex: 1 1 auto; /* Allow it to grow and take remaining space */
  overflow-y: auto; /* Allow scrolling if content overflows */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20%;
}
.SideBarLangUser {
  flex: 0 1 auto; /* Allow it to grow */
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.SideBarLinks .divider {
  display: none;
}
.sideBartoggleButton {
  position: fixed;
  top: 10px; /* Adjust position as needed */
  right: 10px; /* Adjust position as needed */
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;  /* Ensure it's above the sidebar */
}

/* Section Who are we */
.rounded-bottom-custom{
  border-radius: 0% 0% 20% 0%;
}
.WhoAreWeHeader {
  font-size: 2rem;
  font-weight: bold;
}
.WhoAreWeButton {
  background-color: #0029A4;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 25px;
}
.WhoAreWeButton:hover {
  background-color: #0536ca;
}

/* Section Industries */
.IndustriesBox {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
}

.IndustriesBox img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust as needed */
  border-radius: 25px; /* Same as .IndustriesBox for rounded corners */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 25px; /* Rounded corners */
}

.IndustriesBox:hover .overlay {
  opacity: 1;
}

.IndustriesText {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}


/* responsive */
@media screen and (min-width:961px){
  .sideBartoggleButton{display: none;}
}

@media screen and (max-width: 960px) {
  .navSearchLangUser { display: none; }
  .Links { display: none; }
  .sideBarNav {
    display: flex; /* Make it visible */
    font-size: 25px;
    width: 100%; /* Adjusted for better visibility */
  }
  .searchBox:hover > .searchInput{
    width: 80%;
  }
  .dropdownMenu{
    top: 82%;
    right: 60%;
  }
}
